body{
    background: url("img/background_desk.png") fixed;
}

#work_zone{
    background: url("img/oll_background.png") no-repeat;
    width: 1018px;
    height: 1339px;
    margin: auto;
    position: relative;
    padding-top: 50px;
    /*border: solid 1px black;*/
}

.form{
    width: 658px;
    height: 1230px;
    /*border: solid 1px black;*/
    margin: 0 70px;
}

.name_page{
    width: 250px;
    height: 30px;
    margin: 9px 18px;
    display: inline;

    background: transparent;
    resize: none;
    overflow: auto;
    outline: none;
    border: none;
}

textarea{
    position: absolute;
    top: 140px;
    left: 76px;
    width: 640px;
    height: 1000px;
    line-height: 1.3;

    border: none;
    background: transparent;
    resize: none;
    overflow: auto;
    outline: none;
}

.save_note{
    position: absolute;
    left: 300px;
    bottom: 150px;
    width: 200px;
    height: 50px;
    margin: auto;

    background: transparent;
    border: none;
    /*box-shadow: 20px 20px 50px;*/
    border-radius: 30px;
    transition: box-shadow 2s;
    font-size: 24px;
    font-style: italic;
}

.save_note:hover{
    border: solid 4px black;
    box-shadow: 20px 20px 50px;
}

.pen_line_top{
    background: url("img/pen_line_top.png");
    width: 595px;
    height: 20px;
    top: 1160px;
    left: 100px;
    position: absolute;
}

.pen_line_bot{
    background: url("img/pen_line1.png");
    width: 595px;
    height: 20px;
    top: 110px;
    left: 100px;
    position: absolute;
}